

@media screen and (max-width: 992px) {
    .li {
width: 50%;
    }

.AMANECER {
    left: calc($medida-predeterimnada/4 + 20px);
}

.SOFOCLES {
    position: unset;
}

.REV {
    position: unset;
}

.NERON {
    left: calc($medida-predeterimnada/4 + 20px);
}

.sofocles--h1 {
    margin-left: 50px;
}

.rev--h1 {
    margin-left: 50px; 
}

.rev--h3 {
    margin-left: calc($medida-predeterimnada/4);
}

.sofocles--h3 {
    margin-left: calc($medida-predeterimnada/4);
}

    .amanecer {
margin-right: calc($medida-predeterimnada/4);
margin-left: 0px;
    }

    .sofocles {
        margin-left: calc($medida-predeterimnada/4);
margin-right: 0px;
    }

    .neron {
        margin-right: calc($medida-predeterimnada/4);
margin-left: 0px;
    }
    .rev {
        margin-left: calc($medida-predeterimnada/4);
margin-right: 0px;
    }

    .texto--1--3 {
        text-align: unset;
    margin-right: calc($medida-predeterimnada/4);
margin-left: 0px;
    }
    .texto--2--4 {
        text-align: unset;
    margin-right: calc($medida-predeterimnada/4);
margin-left: 50px;
    }

    .boton--1--3 {
        margin: 0;
        margin-left: calc($medida-predeterimnada/4);
    } 

    .boton--2--4 {
        margin-left: calc($medida-predeterimnada/4);
    }

    .nuestro__lugar {
        margin-left: calc($medida-predeterimnada/4);
        margin-right: calc($medida-predeterimnada/4);
        text-align: center;
    }

    .rev--img--pag {
        text-align: unset;
        width: calc($medida-predeterimnada/2);
        height: calc($medida-predeterimnada/2);
    }

    .neron--img--pag {
        width: calc($medida-predeterimnada/2);
        height: calc($medida-predeterimnada/2);
    }

    .sofocles--img--pag {
        width: calc($medida-predeterimnada/2);
        height: calc($medida-predeterimnada/2);
    }

    .amanecer--img--pag {
        width: calc($medida-predeterimnada/2);
        height: calc($medida-predeterimnada/2);
    }

    .quien--soy--img {
        width: calc($medida-predeterimnada/2);
        height: calc($medida-predeterimnada/2);
    }

    .mis--trabajos--p {
        text-align: unset;
        margin-left: calc($medida-predeterimnada/4);
        margin-right: calc($medida-predeterimnada/4);
        text-align: center;
        font-size: large;
    }
}

@media screen and (max-width: 600px) {
    .li {
    width: 100%;
    }
   
    .amanecer--h3 {
     margin-right: calc($medida-predeterimnada/4 - 20px);
    }
    
.rev--h3 {
justify-content: center;
}

.sofocles--h3 {
    justify-content: center;
}

    .amanecer {
justify-content: center;
    }

    .sofocles {
        justify-content: center;
    }

    .neron {
justify-content: center;
    }
    .rev {
        justify-content: center;
    }

    .texto--1--3 {
        text-align: unset;
    margin-right: calc($medida-predeterimnada/4);
margin-left: 0px;
block-size: calc($medida-predeterimnada*3);
    }

    .texto--2--4 {
text-align: unset;
margin-right: calc($medida-predeterimnada/4);
margin-left: 50px;
block-size: calc($medida-predeterimnada*3);
    }

    .boton--1--3 {
        align-items: center;
        margin: 0;
    } 

    .boton--2--4 {
        align-items: center;
    }

    .encuentro--1--2 {
        display: grid;
        grid-column: 100%;
        grid-template-areas:
        "H1"
        "img1"
        "P1"
        "btn1"
        "H2"
        "img2"
        "P2"
        "btn2";
    }

    .encuentro--3--4 {
        display: grid;
        grid-column: 100%;
        grid-template-areas:
        "H3"
        "img3"
        "P3"
        "btn3"
        "H4"
        "img4"
        "P4"
        "btn4";
    }
    
.SOFOCLES {
    left: calc($medida-predeterimnada/4);
    position: unset;
    }
    
    .AMANECER {
        position: relative;
        left: calc($medida-predeterimnada/4);
    }
    
    .NERON {
        position: relative;
        left: calc($medida-predeterimnada/4);
    }
    
    .REV {
        left: calc($medida-predeterimnada/4);
        position: unset;
    }
    
    .amanecer--p--img--pag {
        display: block;
    }

    .sofocles--p--img--pag {
        display: block;
    }

    .neron--p--img--pag {
        display: block;
    }

    .rev--p--img--pag {
        display: block;
    }

    .amanecer--P--pag {
        text-align: unset;
        margin: 0px calc($medida-predeterimnada/4 - 20px);
    }

    .sofocles--P--pag {
        text-align: unset;
        margin: 0px calc($medida-predeterimnada/4 - 20px);
    }

    .neron--P--pag { 
        text-align: unset;
        margin: 0px calc($medida-predeterimnada/4 - 20px);
    }

    .rev--P--pag {
        text-align: unset;
        margin: 0px calc($medida-predeterimnada/4 - 20px);
    }

    .quien--soy--p {
        text-align: unset;
        margin: 0px calc($medida-predeterimnada/4 - 20px);
        font-size: large;
      }
  
      .quien--soy {
  display: block;
      }

      .quien--soy--img {
        width: calc($medida-predeterimnada/2);
        height: calc($medida-predeterimnada/2);
    }
}
